In [1]:
import pandas as pd

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

train.drop(columns=["Name", "Ticket", "Cabin", 'Embarked'], inplace=True)
test.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)

train

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0              1         0       3    male  22.0      1      0   7.2500
1              2         1       1  female  38.0      1      0  71.2833
2              3         1       3  female  26.0      0      0   7.9250
3              4         1       1  female  35.0      1      0  53.1000
4              5         0       3    male  35.0      0      0   8.0500
..           ...       ...     ...     ...   ...    ...    ...      ...
886          887         0       2    male  27.0      0      0  13.0000
887          888         1       1  female  19.0      0      0  30.0000
888          889         0       3  female   NaN      1      2  23.4500
889          890         1       1    male  26.0      0      0  30.0000
890          891         0       3    male  32.0      0      0   7.7500

[891 rows x 8 columns]

In [2]:
train['Age'].fillna(train['Age'].mean(), inplace=True)
train.isnull().sum()

test.dropna(inplace=True)
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [3]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

train['Sex'] = le.fit_transform(train['Sex'])
test['Sex'] = le.transform(test['Sex'])
train

     PassengerId  Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0              1         0       3    1  22.000000      1      0   7.2500
1              2         1       1    0  38.000000      1      0  71.2833
2              3         1       3    0  26.000000      0      0   7.9250
3              4         1       1    0  35.000000      1      0  53.1000
4              5         0       3    1  35.000000      0      0   8.0500
..           ...       ...     ...  ...        ...    ...    ...      ...
886          887         0       2    1  27.000000      0      0  13.0000
887          888         1       1    0  19.000000      0      0  30.0000
888          889         0       3    0  29.699118      1      2  23.4500
889          890         1       1    1  26.000000      0      0  30.0000
890          891         0       3    1  32.000000      0      0   7.7500

[891 rows x 8 columns]

In [12]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X = train.drop('Survived', axis=1)
y = train['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = RandomForestRegressor(n_estimators=2)
model.fit(X_train, y_test)
predictions = model.predict(X_test)

from sklearn.metrics import r2_score

score = r2_score(predictions, y_test)
score

ValueError: Found input variables with inconsistent numbers of samples: [712, 179]